# Server Configuration
PORT=3000

# Database Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=SimpleQuiz

# API Configuration
API_BASE_URL=http://localhost:3000

# Development
NODE_ENV=development
